@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.color {
  background: linear-gradient(to bottom, rgba(237, 113, 173, 0.7), rgba(114, 119, 241, 0.5));
}

.color .distance{
  padding-top: 200px;
}

.color_box .previous_page{
  text-align: right;
  text-decoration: none;
  font-weight: bold;
  float: right;
  margin-top: 10px; 
  color: black;
}

.color_box {
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 70px;
  border: none;
  background-color: rgba(250, 250, 250, 0.7);
  box-shadow: 0 0 5px 0 black;
}

.text_box {
  padding: 10px 10% 10px 10%;
}

.color_box h1 {
  text-align: center;
  padding: 10px;
}

.color_box h6 {
  text-align: right;
  padding: 10px;
}

.color_box h2,
h3,
h4 {
  padding: 10px;
}

.color_box p {
  margin-bottom: 10px;
}

.color_box ol li {
  font-weight: bold;
}
