.cookie-box {
    position: fixed;
    bottom: 50px;
    left: 80px;
    max-width: 50%;
    width: 100%;
    background-color: white;
    border-radius: 2em;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
}

.cookie-box.show{
     right: 20px;
}

.cookie-box header {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.cookie-box img {
    font-size: 32px;
}

.cookie-box h3 {
    color: blueviolet;
    font-weight: bold;
}

.cookie-box .cookie-txt {
    margin-top: 16px;
}

.cookie-box .cookie-txt p {
    color: black;
    font-size: 16px;
}

.cookie-txt p a {
    color: blueviolet;
    font-weight: bold;
    text-decoration: none;
}

.cookie-txt p a:hover {
    color: rgb(82, 118, 225);
    text-decoration: underline;

}

.cookie-box .cookie-btn {
    margin: 5px;
    align-items: center;
    justify-content: space-between;
}

.cookie-buttons .cookie-btn {
    border: none;
    width: calc(100% / 2 - 10px);
    color: aliceblue;
    padding: 8px 0;
    border-radius: 2em;
    cursor: pointer;
    text-align: center;
    background: black;
    transition: all 0.2s ease;
}

.cookie-buttons .cookie-btn:hover {
    background: linear-gradient(to bottom, rgba(237, 113, 173, 0.7), rgba(114, 119, 241, 0.5));
    color: black;
}

.Hope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}